@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00eaff;
  --primary-dark: #008c99;
  --background-light: #e0f7fa;
  --background-dark: #021019;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Exo 2', sans-serif;
}
